metric-results/*
uk.ac.york.sesame.testing.evolutionary/scripts/Test*.err
uk.ac.york.sesame.testing.evolutionary/scripts/Test*.log
runtime-EclipseApplication/TestAircraft/src/*.java
deliv-*

uk.ac.york.sesame.testing.evolutionary/*.log

##############################
## OS X
##############################
.DS_Store
*.class
.classpath
.project
