<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>

<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
	<param name="port" value="9090"/>
</include>

	<node name="turtle1" pkg="turtlesim" type="turtlesim_node">
		<remap from="/turtle1/cmd_vel" to="/turtle1/cmd_velOUT"/>
	</node>
<!--	<node name="turtlesim_teleop" pkg="turtlesim" type="turtle_teleop_key"/> -->
</launch>

